@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-image: url("./assets/images/try4.jpg");
    background-repeat: no-repeat;
    height:auto;
	min-height:100vh;
	background-size:cover;
    background-position:center;
    background-attachment: fixed;


}
img{
    width: auto;
    height: auto;
   // background-image: url("./assets/images/try2.jpg");
   // -webkit-filter: blur(4px);
   // filter: blur(4px);
}
#nav1{
    //background-color: #1A237E;
    background-color: rgb(65, 6, 6);
    // position: fixed; /* Set the navbar to fixed position */
    // top: 0; /* Position the navbar at the top of the page */
    // width: 100%;
}

#searchbar{
    padding-top: -20px;
    margin-top: 15px;
    padding-bottom: 10px;
}

input[type=button]{
    padding: 10px;
}

.btn{
    padding:10px;

}
