<div id="contactandmap"><!--Jumbotron-->
<div class="jumbotron text-center" id="cont">

  <!--Title-->
  <h1 class="card-title h2-responsive mt-2"><strong>Everytime, Everywhere</strong></h1>
  <!--Subtitle-->

  <!--Text-->
  <div class="d-flex justify-content-center">
      <p class="card-text mb-3" style="max-width: 43rem;">If you're not at the table, you're on the menu
      </p>
  </div>

  <hr class="my-4">

 <a href="tel:8888063321"><button type="button" class="btn btn-outline-primary waves-effect">Call Us</button></a>
  <a routerLink="app-mapp"><button type="button" class="btn btn-outline-primary waves-effect"  >Locate</button></a>

</div>
<router-outlet></router-outlet>
<!--Jumbotron-->
</div>